/* -----------style for template---------- */
* {
    margin: 0;
    padding: 0;
    outline: 0
}
html,body{
    font-family:Verdana,sans-serif,Times New Roman,Times,serif;
    font-size:15px;
    line-height:1.5
}
.template {
    width: 960px;
    height: auto;
    margin: 0;
    padding: 0;
}
.clear {overflow: hidden;}
.clearPrifix {
    clear: both;
}
.divCenter {margin:0 auto;}

.textCenter {
    text-align: center;
}
.textJustify {
    text-align: justify;
}
.visivilityHide {visibility: hidden;}
/*-------------- Header Section style ------------------ */
body {
    position: relative;
    background:url(../images/bg.png) repeat scroll 0 0;
}
.headerSection {
    background:#F5F5F5;
    max-height: 120px;
    border-radius: 1px 1px;
    margin-top: 20px;

}
.logo {
    float: left;
}
.logo img{
    margin-left:40px;
    margin-top:10px;
    width: 150px;
}
.social {
    width: 20%;
    float: right;
    margin-right: 10px;
}
.social ul{list-style: none;}
.social ul li{
    float: left;
    padding-top: 20px;
    margin: 3px;
}
.social ul li a{}
.social ul li a i{font-size: 30px;color: #DF3D82;}


/* ------------- navigation Section style --------------------- */
/*------------- manu css-------------- */
 .navSection {
    background:#DF3D82 none repeat scroll 0 0;
     min-height: 50px;
     overflow: none;
     border-radius: 1px 1px;
 }
.navSection ul {margin:0;padding:0;list-style:none;margin-left: 40px;}
.navSection ul  li {
    display:block;
    float:left;
    border-right:1px solid #902e61;
    border-left:1px solid #ED4D6A;
}
.navSection ul  li:first-child {border-left:0px solid #fdc662;}
.navSection ul  li:last-child {border-right:0px solid #c18a26;}

/*---------------style for dropdown ----------------*/
.navSection ul li {position: relative;}
.navSection ul li ul {position: absolute;left: -99999px;z-index: 999px;}
.navSection ul li:hover ul {position: absolute;left:0px;}
.navSection ul li ul li {background:#e6af4b;width:220px;
    border-bottom: 1px solid #fff;
    float: none;
    border-left: 0px solid #ca932f;
    border-right: 0px solid #ca932f;
}
.navSection ul li ul li a{font-size:14px; background: #DF3D82;}
.navSection ul li ul li:last-child{border-bottom: 0px solid #ca932f;}
/*-----------------dropdown style end ---------------*/

.navSection ul  li a {
    color:#fff;
    display:block;
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    text-decoration:none;
    -moz-transform: .5s;
    -webkit-transform: .5s;
    -o-transform: .5s;
    transform: .5s;
    /*border:1px solid #c48d29;*/
}
.navSection ul li a:hover,#active  {
    background:#c83675
;
    color:#fff;
     -webkit-transform: .35s;
     -moz-transform: .35s;
     -o-transform: .35s;
}

.active {}
/* ---------- html element style ---------*/
.contentSection {
 background: #0D2738;
}
.mainContent {

    height: auto;
    float: left;
    background: #F5F5F5;
    padding: 10px;
}
.mainContent h2 {
    /*background:#DF3C56;*/
    background:#2AABD2;
    border-bottom:2px solid #4862A3;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 2px 2px;
}
/*.mainContent h2:hover {
    background:#DF3D82;
    color: black;
}*/
.mainContent p {
    line-height:30px;
    text-align: justify;
}
.aboutAndSkills {width: 100%;overflow: hidden;margin-bottom: 5px;}

.aboutInfoleft {width:60%;float: left;margin-right:10px; }
.aboutInfoleft h3{
    background:#2AABD2;
    border-bottom:2px solid #4862A3;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 2px 2px;
}
.aboutInfoleft img {
    float: right;
    margin-left: 10px;
    margin-top:20px;
    border: 1.5px solid #2AABD2;
    border-radius:2px;
    box-shadow: 2px 2px 2px #2AABD2;
}
.aboutInfoleft p {text-align: justify;padding: 10px;}

.aboutInforight {width:36%;float: right;}
.aboutInforight h3{
    background:#2AABD2;
    border-bottom:2px solid #4862A3;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 2px 2px;
}
.aboutInforight ul{list-style: none;margin-left: 20px;}
.aboutInforight ul li{padding: 5px;text-transform: uppercase}
.aboutInforight ul li i{margin-right: 10px;color: #008000;;}

.aboutInfo h2{}
.aboutInfo p{}
.aboutInfo ul{list-style: none;}
.aboutInfo ul li{}

.mainproject {width: 100%;}
.project {float: left;margin:2%;box-shadow: 5px 5px 5px gray;}
.project h3{text-align: center;}
.project img{

}
/* photo effecct */
.photoEffect {
    width: 275px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.photoEffect img {width:250px;height: 250px;}
.shadow {background: rgba(0,0,0, .3);
    position: absolute;
    top: -100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 3s;
    -moz-transition: 3s;
    -webkit-transition: 3s;
}
.shadow:hover {width:100%;height:100%;}

.photoEffect:hover .shadow {top:0;}
.shadow h3{color: #4CB93F;font-weight: bold;padding-top: 100px;font-size: 20px;}

/*  ------------footer section ---- */
.footerSection {
    /*background:#DF3C56;*/
    background:#2B2B2B;
    min-height:80px;
    color: #fff;
    border-radius: 1px 1px 1px 1px;
    margin-bottom: 10px;
}
.footerContent {}
.footerContent h3{padding-top: 20px;font-size: 20px;}
